@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}

html {
  font-family: "Montserrat";
  color: #1d1d1d;
  width: 100%;
}

.economia_plateada_color {
  text-decoration: none;
  color: #8b51f5;
  font-weight: bold;
}

.campizal-color {
  text-decoration: none;
  color: #104095;
  font-weight: bold;
}

button {
  color: ghostwhite;
  font-size: medium;
  font-weight: bold;
  border-style: solid;
  background-color: #104095;
  border-color: #104095;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
}

.economia-plateada-button {
  background-color: #8b51f5;
  border-color: #8b51f5;
}

hr {
  border-style: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

nav {
  font-weight: bold;
  display: flex;
  max-height: 60px;
  justify-content: space-between;
}
nav li {
  padding: 20px 0;
  border-radius: 5px;
}
nav li:hover {
  background-color: #f7f7f7;
}
nav .img {
  height: 50px;
}
nav .img img {
  padding: 5px 10px;
}
nav ul {
  padding: 0 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
nav ul .opt-1, nav ul .opt-2, nav ul .opt-3, nav ul .opt-4 {
  display: none;
}
nav ul .opt-3 ul, nav ul .opt-4 ul {
  height: 0;
  width: 40%;
  overflow: hidden;
  position: absolute;
  top: 51px;
  right: 30px;
  display: block;
  background-color: white;
}
nav ul .opt-3:hover ul, nav ul .opt-4:hover ul {
  height: auto;
  border-radius: 5px;
  background-color: #f7f7f7;
}
nav ul .opt-3:hover ul li, nav ul .opt-4:hover ul li {
  width: 100%;
}
nav ul .opt-3:hover ul li:hover, nav ul .opt-4:hover ul li:hover {
  background-color: #cecece;
}
nav ul .opt-3 ul {
  right: 30px;
}
nav ul .opt-5 {
  width: 100%;
}
nav ul .opt-5 .burger-container {
  position: absolute;
  right: 0;
  top: 55px;
  width: 100%;
}
nav ul .opt-5 ul {
  display: none;
  background-color: white;
}
nav ul .opt-5 ul li {
  height: 25%;
  width: 100%;
}
nav ul .opt-5 ul li ul {
  background-color: #f7f7f7;
  height: 0;
  overflow: hidden;
}
nav ul .opt-5 ul li ul li:hover {
  background-color: #cecece;
}
nav ul .opt-5 ul li:hover ul {
  height: auto;
  overflow: hidden;
}
nav ul .opt-5:hover ul {
  display: block;
}
nav ul li {
  height: 16%;
  width: auto;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}
nav ul li p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
}

footer {
  display: grid;
  background-color: #104095;
  grid-template-columns: 30% auto 5%;
  color: ghostwhite;
  font-size: small;
  align-items: center;
  padding: 10px 0;
}
footer .logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}
footer .media {
  display: flex;
  flex-direction: column;
}
footer .media a {
  text-decoration: none;
  color: ghostwhite;
}
footer .info {
  padding-right: 10px;
}
footer img {
  filter: brightness(0) invert(1);
}

.main {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.151)), url("../img/index.webp");
  background-size: cover;
  background-position: center center;
  height: 80vh;
  align-items: center;
}
.main .title {
  text-align: center;
  font-family: "Ubuntu";
  color: #104095;
  padding: 50px 0;
}
.main h1 {
  font-size: 50px;
}
.main h3 {
  padding-top: 15%;
  color: #104095;
}
.main .buttons-container {
  padding: 30px 0;
}

.ady-content hr {
  height: 10px;
  border-color: #104095;
  background-color: #104095;
}
.ady-content .content {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.ady-content .content p {
  padding: 10px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
}
.contact h5 {
  font-size: 25px;
  color: #104095;
}
.contact h6 {
  font-size: 15px;
}
.contact hr {
  width: 40%;
  height: 2px;
  background-color: #104095;
  background-color: #104095;
  align-self: center;
  margin-bottom: 35px;
}
.contact iframe {
  margin: 20px 0;
  width: 80%;
  height: 200px;
  border-style: solid;
  border-color: #f7f7f7;
  border-width: 3px;
  border-radius: 10px;
}
.contact .info p {
  text-align: center;
  padding: 0 15px;
  font-size: 15px;
}
.contact .info div {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7rem;
}
.contact .info div a {
  color: #104095;
}
.contact .info div a b {
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.container h1 {
  color: #104095;
  font-size: 45px;
  padding: 25px 30px;
  text-align: center;
}

.card-container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  width: 95%;
  height: 750px;
  background-color: ghostwhite;
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #f7f7f7;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1px 1px 0 0;
}
.card .card-content {
  height: 56.4%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
  overflow: auto;
}
.card button {
  margin: 0 75px;
}

.economia-plateada hr {
  background-color: #8b51f5 !important;
  border-color: #8b51f5 !important;
}

.complete-title-card .title h2 {
  font-size: 30px;
}
.complete-title-card .title hr {
  background-color: #104095;
  border-color: #104095;
  height: 2px;
  width: 25%;
  margin: 40px auto;
}
.complete-title-card .title h3 {
  font-size: 25px;
}

.list-card .card-content h3 {
  margin-bottom: 40px;
  font-size: 30px;
}
.list-card .card-content h4 {
  margin-bottom: 40px;
}
.list-card .card-content .card-list {
  display: flex;
  flex-direction: column;
  max-height: 56.4%;
  gap: 10px;
  text-align: start;
  margin: 0 auto;
  width: 70%;
}

.img-card img {
  height: 320px;
}
.img-card p {
  padding-bottom: 15px;
}

.info-card p {
  width: 90%;
  align-self: center;
}

.no-img {
  text-align: start !important;
  height: 100% !important;
}
.no-img h3 {
  text-align: center;
  padding-bottom: 60px;
}

.team {
  display: flex;
  align-self: center;
  padding: 60px 0;
  gap: 50px;
}
.team img {
  width: 100px;
  height: 100px;
}

.economia-plateada-card-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.economia-plateada-card {
  width: 80%;
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: lightgray;
}
.economia-plateada-card h2 {
  font-size: 35px;
  padding: 0 20px;
  padding-top: 25px;
}
.economia-plateada-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1px 1px 0 0;
}
.economia-plateada-card .info {
  padding-top: 50px;
  width: 90%;
  align-self: center;
}
.economia-plateada-card button {
  margin: 0 70px;
  margin-top: auto;
  margin-bottom: 20px;
}

.economia-plateada-title {
  color: #1d1d1d !important;
}

@media screen and (min-width: 600px) {
  nav ul .opt-1 {
    display: flex;
  }
  nav ul .opt-5 .burger-container {
    width: 50%;
  }
  nav ul .opt-5 ul .opt-1-burger {
    display: none;
  }
  .contact iframe {
    height: 300px;
  }
}
@media screen and (min-width: 760px) {
  nav ul .opt-2 {
    display: flex;
  }
  nav ul .opt-5 .burger-container {
    width: 50%;
  }
  nav ul .opt-5 ul .opt-2-burger {
    display: none;
  }
  .main {
    padding: 60px;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.151)), url("../img/index.webp");
  }
  .main .title {
    display: flex;
    align-items: center;
  }
  .main .title .heading h1 {
    font-size: 80px;
  }
  .main .title .heading h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 850px) {
  nav ul .opt-3 {
    display: flex;
  }
  nav ul .opt-5 .burger-container {
    width: 50%;
  }
  nav ul .opt-5 ul .opt-3-burger {
    display: none;
  }
  .card-container {
    flex-direction: row;
  }
  .economia-plateada-card-container {
    flex-direction: row;
  }
  .economia-plateada-card button {
    margin: 0 10px;
    margin-top: auto;
    margin-bottom: 20px;
  }
  .no-img h3 {
    padding-bottom: 0px;
  }
  .no-img button {
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 900px) {
  .economia-plateada-card button {
    margin: 0 15px;
    margin-top: auto;
    margin-bottom: 20px;
  }
  .contact h5 {
    font-size: 30px;
  }
  .contact h6 {
    margin-bottom: 30px;
  }
  .contact .contact-info {
    padding: 25px 0 0;
    display: flex;
  }
  .contact .contact-info .map {
    width: 50%;
    height: 100%;
  }
  .contact .contact-info .map ifame {
    height: 100%;
  }
  .contact .contact-info .info {
    width: 50%;
    padding: 60px 0;
  }
  .contact .contact-info .info .mail-phone {
    padding: 80px;
  }
}
@media screen and (min-width: 1000px) {
  nav ul .opt-4 {
    display: flex;
  }
  nav ul .opt-5 {
    display: none;
  }
  nav ul .opt-5 .burger-container {
    width: 50%;
  }
  nav ul .opt-5 ul .opt-4-burger {
    display: none;
  }
  .contact h5 {
    font-size: 35px;
  }
  .contact h6 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact .contact-info .info p {
    font-size: 20px;
  }
  .contact .contact-info .info .mail-phone p {
    font-size: 20px;
  }
  .economia-plateada-card button {
    margin: 0 38px;
    margin-top: auto;
    margin-bottom: 20px;
  }
  .no-img h3 {
    padding-bottom: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
