.container {
    @include flex-column;
    align-items: center;
    padding-top: 60px;
    h1 {
        color: $campizal_color;
        font-size: 45px;
        padding: 25px 30px;
        text-align: center;
    }
}

.card-container {
    @include center(column);
    padding: 10px 0;
    gap: 4px;
    width: 100%;
}

.card {
    width: 95%;
    height: 650px;
    background-color: ghostwhite;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: $hover_color;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 1px 1px 0 0;
    }
    .card-content {
        @include center(column);
        height: 350px;
        gap: 15px;
        overflow: auto;
    }
    button {
        @include center(row);
        gap: 10px;
        padding: 15px 90px;
        margin: 0 75px;
    }
}

.economia-plateada {
    hr {
        background-color: $economia_plateada_color !important;
        border-color: $economia_plateada_color !important;
    }
    
}

.complete-title-card {
    .title {
        h2 {
            font-size: 30px;
        }
        hr {
            background-color: $campizal_color;
            border-color: $campizal_color;
            height: 2px;
            width: 25%;
            margin: 40px auto;
        }
        h3 {
            font-size: 25px;
        }
    }
}

.list-card {
    .card-content {
        h3 {
            font-size: 30px;
        }
        h4{
            margin-bottom: 5px;
        }
        .card-list {
            h3 {
                padding-top: 10px;
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            max-height: 100%;
            gap: 20px;
            width: 80%;
            text-align: start !important;
        }
    }
}

.img-card {
    img{
        height: 270px;
    }
    p{
        padding-bottom: 15px;
    }
}

.info-card {
    p{
        width: 90%;
        align-self: center;
    }
}


.no-img {
    text-align: start !important;
    height: 100% !important;
    h3 {
        text-align: center;
        padding-bottom: 60px;
    }
}

.team {
    display: flex;
    align-self: center;
    padding: 60px 0;
    gap: 50px;
    img {
        width: 100px;
        height: 100px;
    }
}