header {
    position: fixed;
    width: 100%;
    background-color: white;

}
nav {
    font-weight: bold;
    display: flex;
    max-height: 70px;
    justify-content: space-between;
    li{
        padding: 16px;
        border-radius: 15px;
        &:hover {
            background-color: $hover_color;
        }

        a {
            display: block;
            padding: 10px;

        }

        span {
            display: block;
            padding: 10px;
        }
    }
    .img{
        height: 50px;
        align-self: center;
        img {
            padding: 0 auto;
            margin-left: 10px;
        }
    }
    ul {
        padding: 0 20px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        .opt-1, .opt-2, .opt-3, .opt-4 {
            display: none;
        }

        .opt-3, .opt-4 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            ul {
                height: 0;
                width: 40%;
                overflow: hidden;
                position: absolute;
                top: 54px;
                right: 20px;
                display: block;
                background-color: white;
                li {
                    padding: 5px !important; 
                }
            }

            &:hover{
                ul {
                    height: auto;
                    border-radius: 5px;
                    background-color: $hover_color;
                    li {
                        display: inline-block;
                        padding: 0 !important; 
                        width: 100%;
                        &:hover {
                            background-color: #cecece;
                        }
                        a{
                            padding: 20px;
                        }
                    }
                }
            }
        }

        .opt-3 {
            ul {
                right: 30px;
            }
        }

        .opt-5 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            .burger-container{
                position: absolute;
                right: 0;
                top: 50px;
                width: 100%;
            }

            ul {
                display: none;
                background-color: white;
                li {
                    height: calc(100% / 4);
                    width: 100%;
                    padding: 5px;
                    ul {
                        background-color: $hover_color;
                        height: 0;
                        overflow: hidden;
                        li {
                            &:hover {
                                background-color: #cecece;
                            }
                        }
                    }

                    &:hover {
                        ul {
                            height: auto;
                            overflow: hidden;
                        }
                    }
                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }
        }

        li {
            height: 16%;
            width: auto;
            align-items: center;
            text-align: center;
            .options {
                margin: 20px 0;
            }
            p {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                height: 100%;
            }

        }
    }
}