.main {
    .index-main-content {
        padding-top: 70px;
    }
    height: 80%;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top,rgb(255, 255, 255), rgba(255, 255, 255, 0.151)), url('../img/index.webp');
    background-size: cover;
    background-position: center center;
    align-items: center;
    
    .title {
        text-align: center;
        font-family: 'Ubuntu';
        color: $campizal_color;
        padding: 50px 0;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        padding-top: 15%;
        color: $campizal_color;
    }

    a {
        font-size: large;
    }

    .buttons-container {
        padding: 30px 0;
    }
}

.ady-content {

    hr {
        height: 10px;
        border-color: $campizal_color;
        background-color: $campizal_color;
    }

    .content{
        padding: 10px ;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        p {
            padding: 10px 0;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center; 
    h5{
        font-size: 25px;
        color: $campizal_color;
    }

    h6 {
        font-size: 15px;
    }

    hr {
        width: 40%;
        height: 2px;
        background-color: $campizal_color;
        background-color: $campizal_color;
        align-self: center;
        margin-bottom: 5px;
    }

    iframe {
        margin: 20px 0;
        width: 80%;
        height: 200px;
        border-style: solid;
        border-color: $hover_color;
        border-width: 3px;
        border-radius: 10px;
    }

    .info {
        p{
            display: flex;
            gap: 1rem;
            align-self: center;
            text-align: start;
            padding: 0 15px;
            font-size: 15px;
        }

        div {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: .7rem;
            a {
                color: $campizal_color;
                b {
                    padding-left: 10px;
                }
            }
        }
    }
}